.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main article {
    height: 50vh;
    aspect-ratio: 2;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.slider {
    display: flex;
    overflow-y: scroll;
    flex: 1;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.btnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* end slider */
