.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main article {
    height: 50vh;
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
}

.slider {
    display: flex;
    overflow-y: scroll;
    flex: 1;
}

.slider > section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slider > section h2 {
    text-align: center;
}

.slider > section p {
    text-align: center;
    margin: auto;
    padding: var(--fs-500);
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none !important;
}

.btnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* end slider */
